body {                              
    width: 100%;                    /* Set width to 100% */
    height: 100%;                   /* Set height to 100% */
    background-color: #000000;    /* Set background colour to black*/
    margin: 0;                      /* Set margin to 0 */
    box-sizing: border-box;         /* Set box-sizing to border-box */
}